
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f5f7fa;
    color:#2b2b2b;
}

header{
    position:fixed;
    top:0;
    width:100%;
    height:80px;

    background:linear-gradient(90deg,#ff3636,#f4c430 , #a646ff );

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 8%;

    box-shadow:0 4px 15px rgba(0,0,0,.15);

    z-index:1000;
}


.logo {
    display: flex;
    align-items: center;
    gap: 50px; 
}

.logo h2 {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-weight: 700;
    margin: 0; 
}


.logoSesi, .logoPrefs {
    height: 50px; 
    width: auto;  
    object-fit: contain;
    box-shadow: 0 10px 30px rgba(0,0,0,.15);
}

nav{

    display:flex;

    gap:35px;

}

nav a{

    text-decoration:none;

    color:white;

    font-weight:500;

    transition:.3s;

}

nav a:hover{

    opacity:.75;

}

.hero{

    margin-top:80px;

    height:90vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:50px;

    background:linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,.35)),
    url("https://www.maisregiao.com.br/images/noticias/84538/a5342e5cfed9f4a2fc8d68b661a0c530.webp");

    background-size:cover;

    background-position:center;

    color:white;

}

.hero-content{

    max-width:700px;

}

.hero h1{

    font-size:52px;

    margin-bottom:20px;

}

.hero p{

    font-size:20px;

    line-height:1.8;

    margin-bottom:35px;

}

.btn{

    display:inline-block;

    padding:15px 35px;

    border-radius:50px;

    text-decoration:none;

    background:#f4c430;

    color:#2b2b2b;

    font-weight:bold;

    transition:.3s;

}

.btn:hover{

    transform:translateY(-3px);

}

.sobre{

    width:85%;

    max-width:1100px;

    margin:100px auto;

    display:flex;

    gap:60px;

    align-items:center;

}

/* Texto 1, só pra mudar a corzinha */

.texto{

    flex:1;

}

.texto h2{

    font-size:38px;

    color:#a646ff ;

    margin-bottom:25px;

}

.texto p{

    line-height:1.9;

    color:#555;

    font-size:18px;

}

/* Texto 2 */

.texto2{

    flex:1;

}

.texto2 h2{

    font-size:38px;

    color:#ff3636 ;

    margin-bottom:25px;

}

.texto2 p{

    line-height:1.9;

    color:#555;

    font-size:18px;

}

/*  Texto 3*/

.texto3{

    flex:1;

}

.texto3 h2{

    font-size:38px;

    color:#1b9239;

    margin-bottom:25px;
    text-align: center;

}

.texto3 p{

    line-height:1.9;

    color:#555;

    font-size:18px;

}


/*  Texto 4*/

.texto4{

    flex:1;

}

.texto4 h2{

    font-size:38px;

    color:#f4c430 ;

    margin-bottom:25px;

}

.texto4 p{

    line-height:1.9;

    color:#555;

    font-size:18px;

}


/* Resto */

.imagem{

    flex:1;

}

.imagem img{

    width:100%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.15);

}

footer{

    background:#a646ff ;

    color:white;

    text-align:center;

    padding:25px;

}

/* AQui vai ficar somente a parte da tabela de dados */



.tabela-dados {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden; 
}


.tabela-dados thead tr {
    background-color: #1b9239; 
    color: #ffffff;
    text-align: left;
    font-weight: 600;
}

.tabela-dados th, 
.tabela-dados td {
    padding: 15px 20px;
}


.tabela-dados tbody tr {
    border-bottom: 1px solid #d6ffe9;
    transition: background-color 0.2s ease;
}


.tabela-dados tbody tr:hover {
    background-color: #d2f8e5;
}


.tabela-dados td.destaque-linha {
    font-weight: bold;
    color: #2c3e50;
    background-color: #eafae8;
}


@media (max-width: 768px) {
    .tabela-dados {
        display: block;
        overflow-x: auto; 
    }
}