/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/* CONFIGURAÇÃO GERAL */

body{

    font-family:'Poppins', Arial, sans-serif;

    background:#f5f7fa;

    color:#2b2b2b;

}


/* ==========================
   CABEÇALHO / MENU
========================== */

header{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:80px;

    background: #a646ff;
    

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 8%;

    box-shadow:0 4px 15px rgba(0,0,0,.15);

    z-index:1000;

}


.logo{

    color:white;

    font-size:26px;

    font-weight:700;

}

.logo button{
      background-color: #28fe73c7;
  color: #ffffff;             
  padding: 12px 24px;        
  font-size: 12px;         
  font-weight: 600;           
  border: none;             
  border-radius: 8px;         
  cursor: pointer;          
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); 
  transition: all 0.2s ease; 
  margin-right: 80px;
  margin-left: -80px;
}

.logo button img{
    width: 15px;
    height: 15px;
}


.logo button:hover {
  background-color: #f4c430; /* Escurece a cor de fundo */
  transform: translateY(-2px); /* Move o botão levemente para cima */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1); /* Aumenta a sombra */
}

/* Efeito ao Clicar (Active) */
.logo button:active {
  transform: translateY(0); 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}


.logo button:focus-visible {
  outline: 3px solid #a5b4fc; 
  outline-offset: 2px;
}

nav{

    display:flex;

    gap:35px;

}


nav a{

    text-decoration:none;

    color:white;

    font-weight:500;

    transition:.3s;

}

nav button {
    text-decoration: underline;
    color: rgb(243, 218, 255);
    font-weight: 700; 
    transition: .3s;
    
    
    background-color: transparent;
    border: none; 
    font-size: 1.2rem; 
    cursor: pointer;
    padding: 0; 
}



nav a:hover{

    opacity:.75;

}

nav button:hover{

    opacity:.75;

}


/* ==========================
   TÍTULO PRINCIPAL
========================== */


.cabecalho{

    text-align:center;

    margin-top:120px;

    margin-bottom:50px;
    

}


.cabecalho h1{

    font-size:42px;

    color:#8c34c7;

    margin-bottom:15px;

}


.cabecalho p{

    color:#666;

    font-size:18px;

}


/* ==========================
   GALERIA DE PROJETOS
========================== */


.galeria{

    width:80%;

    max-width:1000px;

    margin:0 auto 60px;

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(320px,1fr));

    gap:35px;
    cursor: pointer; 

}



/* ==========================
   CARD DO PROJETO
========================== */


.card-img{

    background:white;

    border-radius:20px;

    overflow:hidden;

    transition:.35s;

    box-shadow:
    0 10px 25px rgba(0,0,0,.10);

}


.card-img:hover{

    transform:translateY(-20px);

    box-shadow:
    0 15px 40px rgba(164, 73, 250, 0.35);

}



/* ==========================
   IMAGEM
========================== */


.moldura{

    height:280px;

    overflow:hidden;

}


.art-image{

    width:100%;

    height:100%;

    object-fit:cover;

    transition:.5s;

}


.card-img:hover .art-image{

    transform:scale(1.05);

}



/* ==========================
   INFORMAÇÕES
========================== */


.informacoes{

    padding:25px;

}


.categoria{

    display:inline-block;

    background:#ff3636;

    color:white;

    padding:6px 14px;

    border-radius:20px;

    font-size:12px;

    font-weight:bold;

    text-transform:uppercase;

    margin-bottom:15px;

}



.art-name{

    font-size:22px;

    color:#a646ff;

    margin-bottom:15px;

}



.descricao{

    color:#555;

    line-height:1.7;

    text-align:justify;

}



/* ==========================
   TAGS DOS EIXOS
========================== */


.eixos{

    display:flex;

    flex-wrap:wrap;

    gap:8px;

    margin-top:20px;

}



.tag{

    background:#34c76c;

    color:white;

    padding:7px 12px;

    border-radius:20px;

    font-size:12px;

    transition:.3s;

}



.tag:hover{

    background:#f4c430;

    color:#222;

}



/* ==========================
   RODAPÉ
========================== */


footer{

    background:#a646ff;

    color:white;

    text-align:center;

    padding:25px;

}

.ia-sidebar{

    position:fixed;

    top:0;
    right:-400px;

    width:400px;
    height:100vh;

    background:#ffffff;

    transition:.3s;

    border-left:2px solid #3de61c88;

    z-index:1500;

    border-radius: 30px 0px 0px 30px;

    overflow: auto;

}



.ia-sidebar.active{
    right:0;
}

.ia-header{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px;

    background: #a646ff;
    

    border-radius: 30px 0px 0px 0px;
}

.ia-header h2{

    color:rgb(255, 255, 255);
    font-size:20px;
}

.ia-header button{
   border-radius: 30%;
   font-size:20px;
   color:  #000000;
   background-color: #ff3636;
   width: 30px;
   height: 30px;

}

.ia-header button:hover{
   border-radius: 30%;
   font-size:20px;
   color:  #000000;
   background-color: #f4c430;
   width: 30px;
   height: 30px;

}

.ia-content{
    padding:20px;
}

.mya-result{

    margin-top: 20px;

    background: #a646ff9d;

    padding: 15px;

    border-radius: 12px;

    min-height: 120px;

    color:  #34c76c;

    line-height: 1.6;
}

.mya-result h3{

    display:inline-block;

    justify-content: center;
     display: flex;

    background:#34c76cd1;

    color:#a646ff;

    padding:6px 14px;

    border-radius:20px;

    font-size:12px;

    font-weight:bold;

    text-transform:uppercase;

    margin-bottom:15px;
}

.mya-result h3:hover{
     display:inline-block;

    justify-content: center;
     display: flex;

    background:#f4c430;

    color:#a646ff;

    padding:6px 14px;

    border-radius:20px;

    font-size:12px;

    font-weight:bold;

    text-transform:uppercase;

    margin-bottom:15px;
}

.mya-result strong{

     justify-content: center;
     display: flex;
    color:#a646ff;

    line-height: 1.6;

    display:inline-block;

    background:#34c76cd1;

    padding:6px 14px;

    border-radius:20px;

    font-weight:bold;

    text-transform:uppercase;
}

.mya-result p{

    padding: 15px;

    color:#000000;

    line-height: 1.6;
    white-space: pre-line;
}

.mya-result h5{

    color:#000000ec;
    padding: 15px;
}


.mya-welcome h2{
    color: #a646ff9d;
    margin-bottom: 10px;
}

.mya-welcome p{
    color: #34c76c;
    line-height: 1.5;
}

.ia-sidebar-left{

    position:fixed;
    top:0;
    left:0px;

    width:400px;
    height:100vh;

    background:#ffffff;

    transition:.3s;

    border-right:2px solid #3de61c88;

    margin-top: 60px;

    z-index:1500;

}



.ia-sidebar-left.active{
    left:0;
}

.ia-sidebar-left {
    position: fixed;
    margin-top: 80px;
    top: 0;
    left: -440px; 
    width: 400px;
    height: 90vh;
    background: #ffffff;
    transition: .3s ease-in-out;
    border-right: 2px solid #3bd77244;
    z-index: 1500;
    border-radius: 0px 30px 30px 0px; 
    box-shadow: 4px 0 15px rgba(0,0,0,.1);
    overflow-y: auto;
}


.ia-sidebar-left.active {
    left: 0;
}

.ia-header-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #a646ff;
    border-radius: 0px 30px 0px 0px; 
}

.ia-header-filter h2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.ia-header-filter button {
    border-radius: 30%;
    font-size: 20px;
    color: #000000;
    background-color: #ff3636;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.ia-header-filter button:hover {
    background-color: #f4c430;
}


.filter-group {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filter-group label {
    font-weight: 600;
    color: #8c34c7;
    font-size: 15px;
}

.filter-select {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #e1e5eb;
    border-radius: 12px;
    font-size: 15px;
    color: #2b2b2b;
    outline: none;
    background-color: #f9fafb;
    cursor: pointer;
    transition: .3s;
}

.filter-select:focus {
    border-color: #a646ff;
    background-color: #ffffff;
}

.card-img.hidden {
    display: none !important;
}