/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/* CONFIGURAÇÃO GERAL */

body{

    font-family:'Poppins', Arial, sans-serif;

    background:#f5f7fa;

    color:#2b2b2b;

}


/* ==========================
   CABEÇALHO / MENU
========================== */

header{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:80px;

    background: #f4c430;
    

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 8%;

    box-shadow:0 4px 15px rgba(0,0,0,.15);

    z-index:1000;

}


.logo{

    color:white;

    font-size:26px;

    font-weight:700;

}

.logo button{
  background-color: #ff7e28;
  color: #ffffff;             
  padding: 12px 24px;        
  font-size: 12px;         
  font-weight: 600;           
  border: none;             
  border-radius: 8px;         
  cursor: pointer;          
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); 
  transition: all 0.2s ease; 
  margin-right: 80px;
  margin-left: -80px;
}

.logo button img{
    width: 15px;
    height: 15px;
}


.logo button:hover {
  background-color: #00ad3dc7; /* Escurece a cor de fundo */
  transform: translateY(-2px); /* Move o botão levemente para cima */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1); /* Aumenta a sombra */
}

/* Efeito ao Clicar (Active) */
.logo button:active {
  transform: translateY(0); 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}


.logo button:focus-visible {
  outline: 3px solid #a5b4fc; 
  outline-offset: 2px;
}

nav{

    display:flex;

    gap:35px;

}


nav a{

    text-decoration:none;

    color:white;

    font-weight:500;

    transition:.3s;

}

nav button {
    text-decoration: underline;
    color: rgb(252, 148, 63);
    font-weight: 700; 
    transition: .3s;
    
    
    background-color: transparent;
    border: none; 
    font-size: 1.2rem; 
    cursor: pointer;
    padding: 0; 
}



nav a:hover{

    opacity:.75;

}

nav button:hover{

    opacity:.75;

}


/* ==========================
   TÍTULO PRINCIPAL
========================== */


.cabecalho{

    text-align:center;

    margin-top:100px;
    margin-bottom: -25px;
}


.cabecalho h1{

    font-size:42px;

    color:#f4c430;;

    margin-bottom:15px;

}


.cabecalho p{

    color:#666;

    font-size:18px;

}



/* ==========================
   IMAGEM
========================== */


.moldura{

    height:280px;

    overflow:hidden;

}


.art-image{

    width:100%;

    height:100%;

    object-fit:cover;

    transition:.5s;

}


.card-img:hover .art-image{

    transform:scale(1.05);

}

/* ==========================
   RODAPÉ
========================== */


footer{

    background:#ff7e28;

    color:white;

    text-align:center;

    padding:25px;

}

.ia-sidebar{

    position:fixed;

    top:0;
    right:-1000px;

    width:500px;
    height:650px;
    margin-left: 30px;

    background:#ffffff;

    transition:.3s;

    border-left:3px solid #f0922688;
    border-right:3px solid #f0922688;
    border-bottom: 1px solid #f0922688;;

    z-index:1500;

    border-radius: 30px 30px 30px 30px;

    overflow: auto;

}



.ia-sidebar.active{
    right:0;
    position: relative;
}

.ia-sidebar p{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.ia-header{
    position: relative;
    top:0px;
    width: 497px;
    justify-content:space-between;
    align-items:center;
    padding:20px;

    background: #f4c430;
    
    border-radius: 30px 30px 0px 0px;
}

.ia-header.active{
width: 497px;
position: relative;
}

.ia-header h2{

    color:rgb(255, 255, 255);
    font-size:20px;
}

.ia-header button{
   border-radius: 30%;
   font-size:20px;
   color:  #000000;
   background-color: #ff3636;
   width: 30px;
   height: 30px;

}

.ia-header button:hover{
   border-radius: 30%;
   font-size:20px;
   color:  #000000;
   background-color: #f4c430;
   width: 30px;
   height: 30px;

}

.ia-content{
    padding:20px;
}

.ia-sidebar-left{

    position:fixed;
    top:0;
    left:0px;

    width:400px;
    height:100vh;

    background:#ffffff;

    transition:.3s;

    border-right:2px solid #e67e1c88;

    margin-top: 60px;

    z-index:1500;

}




.ia-header-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #f4c430;;
    border-radius: 0px 30px 0px 0px; 
}

.ia-header-filter h2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.ia-header-filter button {
    border-radius: 30%;
    font-size: 20px;
    color: #000000;
    background-color: #ff3636;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    transition: .2s;
}

.ia-header-filter button:hover {
    background-color: #f4c430;
}


.filter-group {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filter-group label {
    font-weight: 600;
    color: #f4c430;;
    font-size: 15px;
}

.filter-select {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #e1e5eb;
    border-radius: 12px;
    font-size: 15px;
    color: #2b2b2b;
    outline: none;
    background-color: #f9fafb;
    cursor: pointer;
    transition: .3s;
}

.filter-select:focus {
    border-color: #f4c430;
    background-color: #ffffff;
}

.card-img.hidden {
    display: none !important;
}

.container-mapa{
    width:100%;
    padding:30px;
    box-sizing:border-box;
}

.pesquisa{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.pesquisa input{

    flex:1;

    padding:12px;

    border:none;

    border-radius:8px;

    font-size:16px;

}

.pesquisa button{

    padding:12px 18px;

    border:none;

    cursor:pointer;

    border-radius:8px;

}

#map{

    width:100%;

    height:650px;

    border-radius:15px;

}

.popup{
    width:250px;
}

.popup-img{

    width:100%;

    height:140px;

    object-fit:cover;

    border-radius:8px;

    margin-bottom:10px;

}

.popup h3{

    margin:8px 0;

    font-size:18px;

}

.popup p{

    margin:4px 0;

    font-size:14px;

}

.popup-btn{

    width:100%;

    margin-top:10px;

    padding:10px;

    border:none;

    border-radius:8px;

    cursor:pointer;

}

.container-mapa{

    display:flex;

    height:85vh;

    gap:20px;
    transition: all .3s ease;

}

.sidebar{

    width:320px;

    background:#ffffff;

    border-radius:15px;

    padding:20px;

    overflow-y:auto;

}

#map{

    flex:1;

    border-radius:15px;

}

.cardProjeto{

    padding:15px;

    margin-top:10px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;

    border:1px solid #ddd;

}

.cardProjeto:hover{

    transform:translateY(-2px);

}

.cardProjeto h3{

    margin:0;

    font-size:17px;

}

.cardProjeto p{

    margin:8px 0;

}

.cardProjeto.ativo{

    border:2px solid #0F4C81;

    transform:scale(1.02);

    box-shadow:0 10px 25px rgba(0,0,0,.15);

}

.card-header span{

    font-size:13px;

    opacity:.7;

}

.card-header h3{

    margin:0;

    font-size:16px;

}

.card-header img{

    width:60px;

    height:60px;

    border-radius:8px;

    object-fit:cover;

}

.card-header{

    display:flex;

    gap:12px;

    align-items:center;

}


.painelFiltros{
   position: fixed;
    top: 0px;          /* ajuste conforme seu layout */  
    width: 250px;
    right: -400px;
    background: #f4c430;
    color: white;
    padding: 20px;
    border-radius: 15px;
    transition: right .35s ease;
    z-index: 1600;
}

.painelFiltros.active{
    position: relative;
    right: -20px;
    height: 650px;         /* estado aberto */
}


.painelFiltros h2{

    margin-bottom:20px;

}

.painelFiltros1{
   position: fixed;
    top: 0px;          /* ajuste conforme seu layout */  
    width: 250px;
    right: -400px;
    background: #f4c430;
    color: white;
    padding: 20px;
    border-radius: 15px;
    transition: right .35s ease;
    z-index: 1600;
}

.painelFiltros1.active{
    position: relative;
    right: -20px;         /* estado aberto */
}


.painelFiltros1 h2{

    margin-bottom:20px;

}

.categoria{

    display:flex;

    align-items:center;

    gap:10px;

    margin-bottom:15px;

    cursor:pointer;
    background-color: #ff7e28;
    border-radius: 30px 30px 30px 30px;
}

.categoria input{

    width:18px;

    height:18px;

}

.contadorProjetos{

    margin:20px 0;

    padding:15px;

    border-radius:10px;

    background:#f5f5f5;

}

.contadorProjetos h3{

    margin:0;

    font-size:17px;

}

.contadorProjetos span{

    display:block;

    margin-top:6px;

    font-size:15px;

    font-weight:600;

    color:#6D4CC2;

}